$font_playfair: 'Playfair Display', serif;
$font_opensans: 'Open Sans', sans-serif;
$font_size: 16px;

$color__gray: #bdbdbd;
$color__dark-gray: #464646;
$color__light-gray: #949494;


/*workarea widths*/
$width_workarea_desctop: 1200px;
$width_workarea_desctop_small: 1024px;
$width_workarea_tablet: 768px;

$width__min: 320px;

$breakpoints: (
        xs: 320px,
        sm: 480px,
        md: 780px,
        lg: 1000px,
        xl: 1220px
);

