@import '_base.scss';
@import '_grid.scss';
/*HEADER*/
.page-header{
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000;
  color: #ffffff;
  height:80px;
  z-index: 100;
  @include break(xs) {
    height: 60px;
  }
  @include break(md) {
    height: 80px;
  }
  &__inner{
    @extend .h-page-block__inner
  }
  &__logo{
     width: 50%;
    text-align: left;
    padding: 15px 0;
  }
  &__menu{
    width: 50%;
  }
}
.header-logo{
  &__link{
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  &__symbol{
    text-align: left;
    line-height: 1;
    font-weight: 900;
    font-family:$font_playfair;
    @include break(md) {
      font-size: 40px;
    }
    @include break(lg) {
      font-size: 50px;
    }
  }
  &__text{
    vertical-align: bottom;
    padding-left: 7px;
  }
  &__title{
    font-family:$font_opensans;
    font-weight: 300;
    text-transform: uppercase;
    @include break(md) {
      font-size: 16px;
      letter-spacing: 2px;
    }
    @include break(lg) {
      font-size: 20px;
      letter-spacing: 2px;
    }
    @include break(xl) {
      font-size: 22px;
      letter-spacing: 3px;
    }
  }
  &__subtitle{
    font-family:$font_opensans;
    font-weight: 600;
    text-transform: uppercase;
    @include break(md) {
      font-size: 14px;
    }
    @include break(lg) {
      letter-spacing: 1px;
      font-size: 16px;
    }
    @include break(xl) {
      letter-spacing: 1px;
      font-size: 18px;
    }
  }
}
.header-nav{
  &__burger-icon{
    text-align: right;
    font-size: 30px;
    @include break(sm) {
      line-height: 60px;
    }
    @include break(md) {
      line-height: 80px;
      display: block;
    }
    @include break(lg) {
      display: none;
    }
  }
  &__inner{
    text-align: right;
    @include break(md) {
      display: none;
    }
    @include break(lg) {
      display: block;
    }
  }
  &__item{
    @include break(md) {
      padding-left: 15px;
    }
    @include break(lg) {
      padding-left: 22px;
    }
    @include break(xl) {
      padding-left: 33px;
    }
  }
  &__link{
    font-weight: 500;
    line-height: 80px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      font-weight: 500;
      color: $color__gray;
      text-decoration: underline;
    }
    @include break(md) {
      font-size: 14px;
    }
    @include break(lg) {
      font-size: 14px;
    }
    @include break(xl) {
      font-size: 16px;
    }
  }
}

/* block 1 */
.first-block {
  position: relative;
  padding-top: 80px;
  height: 100%;
  background-image: url('../img/block1_bg.jpg');
  &-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include break(xs) {
      width: 85%;
    }
    @include break(lg) {
      width: 960px;
    }
    @include break(xl) {
      width: 1200px;
    }
    &__title{
      font-family:$font_playfair;
      color: #ffffff;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      @include break(md) {
        font-size: 60px;
      }
      @include break(lg) {
        font-size: 60px;
      }
      @include break(xl) {
        font-size: 80px;
      }
    }
    &__subtitle{
      font-family:$font_opensans;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      color: #ffffff;
      @include break(md) {
        padding-top: 30px;
        font-size: 16px;
      }
      @include break(lg) {
        padding-top: 50px;
        font-size: 20px;
      }
    }
  }
  &-scroll{
    position: absolute;
    width: 26px;
    height: 42px;

    left: 50%;
    margin-left: -13px;
    @include break(md) {
      bottom: 60px;
    }
    @include break(lg) {
      bottom: 100px;
    }
    svg{
      width: 25px;
      height: 42px;
    }
  }
}

.second-block{
  background-image: url('../img/block2_bg.jpg');
  @include break(md) {
    height: 500px;
    padding-top: 70px;
  }
  @include break(lg) {
    padding-top: 150px;
    height: 700px;
  }
  &-content{
    padding-right: 40px;
    text-align: left;
    @include break(md) {
      padding-left: 30%;
    }
    @include break(lg) {
      padding-left: 350px;
    }
    @include break(xl) {
      padding-left: 550px;
    }
    &__title{
      font-family:$font_playfair;
      text-transform: uppercase;
      font-weight: normal;
      color: #000;
      @include break(md) {
        font-size: 32px;
        margin-bottom: 30px;
      }
      @include break(lg) {
        margin-bottom: 50px;
        font-size: 40px;
      }
    }
    &__text{
      font-family:$font_opensans;
      font-weight: normal;
      color: $color__dark-gray;
      margin-bottom: 30px;
      @include break(md) {
        font-size: 14px;
      }
      @include break(lg) {
        font-size: 16px;
      }
    }
  }
}

.third-block{
  padding: 50px 0 20px;
}
.services{
  &__title{
    font-size: 45px;
    font-weight: normal;
    font-family:$font_playfair;
    color: #000;
    text-align: center;
  }
}
.services-list{
  &__item{
    width: 50%;
    @include break(md) {
      padding-top: 45px;
    }
    @include break(lg) {
      padding-top: 80px;
    }
    &:nth-of-type(even){
      @include break(xs) {
        padding-left: 40px;
      }
      @include break(lg) {
        padding-left: 40px;
      }
      @include break(xl) {
        padding-left: 70px;
      }
    }
    &:nth-of-type(odd){
      @include break(xs) {
        padding-right: 40px;
      }
      @include break(lg) {
        padding-right: 40px;
      }
      @include break(xl) {
        padding-right: 70px;
      }
    }
  }
}
.service{
  &__title{
    text-align: left;
    font-weight: normal;
    font-family:$font_opensans;
    @include break(md) {
      font-size: 20px;
    }
    @include break(lg) {
      font-size: 24px;
    }
    @include break(xl) {
      font-size: 30px;
    }
  }
  &__description{
    color: $color__light-gray;
    text-align: left;
    @include break(xs) {
      font-size: 14px;
    }
    @include break(lg) {
      font-size: 14px;
    }
    @include break(xl) {
      font-size: 16px;
    }
  }
  &__content{
    vertical-align: top;
    width: 80%;
    @include break(xs) {
      padding-left: 25px;
    }
    @include break(lg) {
      padding-left: 25px;
    }
    @include break(xl) {
      padding-left: 45px;
    }
  }
  &__icon{
    vertical-align: top;
    width: 20%;
    float: left;
    svg{
      max-width: 100%;
      height: 110px;
      @include break(xs) {
        height: 80px;
      }
      @include break(lg) {
        height: 110px;
      }
    }
  }
  &__price{
    text-align: left;
    font-weight: bold;
  }
}

.fourth-block{
  padding: 50px 0;
}
.letters{
  &__title{
    font-size: 45px;
    font-weight: normal;
    font-family:$font_playfair;
    color: #000;
    text-align: center;
  }
  &-slider{
    padding:45px 0;
  }
}
.letter{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  &__link{
    display: inline-block;
    border:7px solid #cccccc;
    &:hover{
      border:7px solid #dbd7d2;
    }
  }
  &__pic{
    width: auto !important;
    max-width: 100%;
    max-height: 300px;
  }
}
.case{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include break(md) {
    height: 200px;
    padding:20px 30px 0;
  }
  @include break(lg) {
    height: 300px;
    padding:40px 30px 0;
  }
  @include break(xl) {
    height: 450px;
    padding:60px 45px 0;
  }
  &__title{
    font-family:$font_opensans;
    font-weight: 500;
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 5px;
    @include break(md) {
      font-size: 14px;
      border-bottom: 2px solid #fff;
    }
    @include break(lg) {
      font-size: 18px;
      border-bottom: 3px solid #fff;
    }
    @include break(xl) {
      font-size: 22px;
    }
  }
  &__description{
    padding-top: 10px;
    font-family:$font_opensans;
    color: #FFFFFF;
    @include break(md) {
      font-size: 14px;
      height: auto;
    }
    @include break(lg) {
      font-size: 16px;
      height: 140px;
    }
    @include break(xl) {
      font-size: 18px;
      height: 240px;
    }
  }
  &__subinfo{
    font-family:$font_opensans;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1;
    font-size: 16px;
    @include break(md) {
      display: none;;
    }
    @include break(lg) {
      font-size: 14px;
    }
    @include break(xl) {
      font-size: 16px;
    }
  }
}
.cases{
  .owl{
    &-nav{
      div{
        position: absolute;
        top: 50%;
        background-color: #fff;

        z-index: 1;
        color: $color__dark-gray;
        text-align: center;
        cursor: pointer;
        &:hover{
          .fa{
            color: $color__dark-gray;
          }
        }
        .fa{
          color: $color__light-gray;
          @include break(xs) {
            font-size: 16px;
            line-height: 30px;
          }
          @include break(lg) {
            font-size: 16px;
            line-height: 30px;
          }
          @include break(xl) {
            font-size: 24px;
            line-height: 45px;
          }
        }
        @include break(xs) {
          margin-top: -15px;
          width: 30px;
          height: 30px;
        }
        @include break(lg) {
          margin-top: -15px;
          width: 30px;
          height: 30px;
        }
        @include break(xl) {
          margin-top: -23px;
          width: 45px;
          height: 45px;
        }
      }
    }
    &-prev{
      left: 0;
    }
    &-next{
      right: 0;
    }
  }
}

.sixth-block{
  height: 800px;
  background-image: url('../img/block6_bg.jpg');
  @include break(md) {
    height: auto;
    padding: 25px 0;
  }
}
.team{
  padding:40px 0 0;
  &__title{
    text-align: center;
    font-family:$font_playfair;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 45px;
  }
  &__subtitle{
    font-family:$font_opensans;
    font-weight: 300;
    color: $color__light-gray;
    text-align: center;
    @include break(md) {
      padding: 25px 0 35px;
    }
    @include break(lg) {
      padding: 45px 0 45px;
    }
    @include break(xl) {
      padding: 45px 0 65px;
    }
  }
}
.persons{
  width: 800px;
  margin: 0 auto;
  @include break(lg) {
    padding: 45px 0 65px;
  }
  @include break(xl) {
    width: 900px;
  }
  &__item{
    width: 33%;
  }
}
.person{

  &__pic-holder{
    width: 90px;
    height: 90px;
    @include break(md) {
      margin: 0 auto 20px;
    }
    @include break(lg) {
      margin: 0 auto 30px;
    }
    @include break(xl) {
      margin: 0 auto 30px;
    }
  }
  &__pic{
    width: 100%;
    height: 100%;
    border-radius: 50%
  }
  &__name{
    font-family:$font_playfair;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    @include break(md) {
      font-size: 20px;
    }
    @include break(lg) {
      font-size: 22px;
    }
  }
  &__bio{
    font-family: $font_opensans;
    color: $color__light-gray;
    font-size: 14px;
    font-weight: 300;
    padding:0 7px;
  }
}
.map{
  height: 320px;
  /*костылим*/
  [class*="-ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }

}

.eighth{
  height: 345px;
  background-image: url('../img/footer_bg.jpg');
  @include break(xs) {
    padding: 70px 0 0;
  }
  @include break(lg) {
    padding: 70px 0 0;
  }
  @include break(xl) {
    padding: 70px 0 0;
  }
}
.contacts{
  width: 640px;
  margin: 0 auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
  color: #FFFFFF;
  &__city{
    font-size: 24px;
    font-family:$font_opensans;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__phone-link{
    font-family:$font_opensans;
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  &__person{
    font-family:$font_opensans;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__mail-link{
    font-family:$font_opensans;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  &__social{
    font-size: 30px;
    @include break(xs) {
      padding:20px 0 10px;
    }
    @include break(lg) {
      padding:20px 0 10px;
    }
    @include break(xl) {
      padding:20px 0 10px;
    }
    &-link{
      color: #FFFFFF;
      text-decoration: none;
      &:hover{
        color: $color__light-gray;
      }
    }
  }
}