@import '_base.scss';
@import '_grid.scss';
/*HEADER*/
.page-header{
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000;
  color: #ffffff;
  height:$height__header;
  &__inner{
    @extend .h-page-block__inner
  }
  &__logo{
     width: 50%;
    text-align: left;
    padding: 15px 0;
  }
  &__menu{
    width: 50%;
  }
}
.header-logo{
  &__link{
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  &__symbol{
    text-align: left;
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    font-family:$font_playfair;
  }
  &__text{
    vertical-align: bottom;
    padding-left: 7px;
  }
  &__title{
    font-family:$font_opensans;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  &__subtitle{
    font-family:$font_opensans;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
.header-nav{
  &__inner{
    text-align: right;
  }
  &__item{
    padding-left: 33px;
  }
  &__link{
    font-weight: 500;
    font-size: 16px;
    line-height: $height__header;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      font-weight: 500;
      color: $color__gray;
      text-decoration: underline;
    }
  }
}

/* block 1 */
.first-block {
  padding-top: 80px;
  height: 100%;
  background-image: url('../img/block1_bg.jpg');
  &-content{
    &__title{
      font-family:$font_playfair;
      color: #ffffff;
      font-weight: normal;
      font-size: 80px;
      text-align: center;
      text-transform: uppercase;
    }
    &__subtitle{
      font-family:$font_opensans;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      color: #ffffff;
    }
  }
  &-scroll{
    position: absolute;
    width: 26px;
    height: 42px;
    bottom: 100px;
    left: 50%;
    margin-left: -13px;
    svg{
      width: 25px;
      height: 42px;
    }
  }
}

.second-block{
  padding-top: 150px;
  background-image: url('../img/block2_bg.jpg');
  height: 700px;
  &-content{
    padding-left: 550px;
    padding-right: 40px;
    text-align: left;
    &__title{
      font-family:$font_playfair;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 40px;
      color: #000;
      margin-bottom: 50px;
    }
    &__text{
      font-family:$font_opensans;
      font-weight: normal;
      font-size: 16px;
      color: $color__dark-gray;
      margin-bottom: 30px;
    }
  }
}

.third-block{
  padding: 50px 0;
}
.services{
  &__title{
    font-size: 45px;
    font-family:$font_playfair;
    color: #000;
    text-align: center;
  }
}
.services-list{
  &__item{
    width: 50%;
  }
}
.service{
  &__title{
    font-size: 30px;
    text-align: left;
    font-weight: normal;
    font-family:$font_opensans;
  }
  &__description{
    font-size: 16px;
    color: $color__light-gray;
    text-align: left;
  }
  &__icon{
    height: 110px;
    width: 100px;
    float: left;
    svg{
      max-height: 100%;
      max-width: 100%;
    }
  }
}