@import url('_variables.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
}

body {
    font-family: $font_opensans;
    background-color: #fff;
}
img {
    border: 0;
}
ul,
li {
    list-style: none;
}
button, input, textarea {
    border: none;
    outline: none;
}
.page{
  &-wrapper{
    height: 100%;
  }
  &-block{
    width: 100%;
    margin: 0 auto;
    max-width: $width_max;
    &__inner{

    }
  }
}