.cols {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 0;
}
.col{
  font-size: $font_size;
  min-height: 1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  position: relative;
  _height: 1px;
}